body
{
    text-align: left;
}

header
{
    font-size: xx-large;
    font-family: 'cursive';
}

footer
{
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    color: gray;
}

a
{
    text-decoration: underline;
}

a:hover
{
    text-decoration: underline;
    color: steelblue;
}

#GoogleScholar
{
    color: blue;
}

#GitHub
{
    color: black;
}

#red
{
    color: red;
}

#LocationButton
{
    color: black;
}

#location
{
    color: aqua;
}

#quote
{
    font-family: 'Times New Roman', Times, serif;;
}